
<header>
    <app-navbar></app-navbar>
</header>
<body>
    <div class="maincolorbackground1" style="display: block; height: 50px; width:100%;"></div>
    <app-projetcomponent></app-projetcomponent>
    <section id="moi" class=" maincolorbackground2">
     
        <p class=" maincolor1 footertitle">Contact</p>
         
       <div class="footer maincolor1">
         <div class="lil-containerv2 hover-3">
           <a href="https://www.linkedin.com/in/lucas-bondon/" class="customlink " >LinkedIn</a>
         </div>
         <div class="lil-containerv2 hover-3">
           <a href="https://github.com/lingetu?tab=repositories" class="customlink " >GitHub</a>
         </div>
         <div class="lil-containerv2 hover-3">
           <a href="" class="customlink " >Mail</a>
         </div>
         
     </div>
      </section >
</body>
