<header>
    <app-navbar></app-navbar>
</header>
<body class="maincolorbackground1 maincolor2">
    <section class="wrapper maincolorbackground1" >
        <div class="contacttext">
        <div class="title">
            <p>Contactez moi!</p>
        </div>
        <div class="minititre">
            <p>Si mon profil vous intéresse, ou que vous avez des questions à me poser n'hesitez  pas !</p>
        <p>N'hesitez pas à me donner des conseils pour le site web !</p>
        </div>
        <P>Contactez moi également via Github ou linkedIn</P>
        <div>

        
        <a href="https://www.linkedin.com/in/lucas-bondon/" class="customlink " ><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/linkedin.png" alt="linkedin"/></a>
        <a href="https://github.com/lingetu?tab=repositories" class="customlink"><img width="50" height="50" src="https://img.icons8.com/ios-filled/50/github.png"  alt="github"></a>
    </div>

    </div >
    <div class="w3-container w3-large w3-center" style="width: 100%; margin-top:100px;">

   
    <button class="w3-button maincolorbackground2 w3-padding-large w3-large w3-margin-top maincolor1"><a href="mailto:luc.bondon@gmail.com">Envoyez moi un message !</a></button> 
</div>
    </section>
    
  
</body>
<footer>

</footer>
