<div>
    <ngb-carousel [interval]="10000" [pauseOnFocus]="true" >
        <ng-template ngbSlide *ngFor="let i of card">
          <div class="carousel-captions" >
            <app-card class="card" [card]="i"></app-card>
        </div>
        </ng-template>
      </ngb-carousel>
  <div class="btn-wrapper">



    <button class="btn btn-menu" [class.active]="filter === 'all'" (click)="filter = 'all'">
      All
    </button>

    <button class="btn btn-menu" [class.active]="filter === 'Not started'" (click)="filter = 'Not started'">
      Not started
    </button>


    <button class="btn btn-menu" [class.active]="filter === 'active'" (click)="filter = 'active'">
      Doing
    </button>

    <button class="btn btn-menu" [class.active]="filter === 'done'" (click)="filter = 'done'">
      Done
    </button>
  </div>
</div>
  
