
.card{
  background-color: #f7f0cb;
   border: none;
    padding: 50px;
    align-items: center;
    
   
  }
  
  .allCard{
    background-color: blue;
    display: flex;
    
    overflow-x: auto;
    width: auto;
  
    min-height: 750px;
  
    align-items: center;
  
  
  }