
.card{
    background-color: rgb(54, 190, 36);
   
    padding: 50px;
    align-items: center;
    
   
  }
  
  .allCard{
    background-color: blue;
    display: flex;
    
    overflow-x: auto;
    width: auto;
  
    min-height: 750px;
  
    align-items: center;
  
  
  }