ul {
  height: 70px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  border-color: #f7f0cb;
  border-width: 2px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #f7f0cb;
  color:#034f71;
}

.containerimg2{
  position: absolute;
  top: 10px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-image: url("../../assets/iconlb.svg");
  background-size: contain;
  background-position: center;
  border: #f7f0cb;
  

}

