
<nav class="navbar">
    <ul  class="alllink  maincolorbackground2">
        <li>
          <a routerLink="" style="color: maincolor1;">

            <fa-icon [icon]=faHome></fa-icon>
            <p >Home</p>
           
          </a>
      

        
        </li>
        <li>
          <a routerLink="cv" style="color: maincolor1;">
            <fa-icon [icon]=faUser></fa-icon>
           <p>
            CV
           </p> 
          </a>  
          </li>
        <li>
          <a routerLink="projet" style="color: maincolor1;">
            <fa-icon [icon]=faProjectDiagram></fa-icon>
          <p>Project</p>
        </a>
        </li>
        <li>
          <a routerLink="contact" style="color: maincolor1;">
            <fa-icon [icon]=faEnvelope></fa-icon>
           <p>Contact</p>
          </a>
        </li>
      </ul>
    </nav>
