.education {
    &-item {
      border-left: 1px solid #f4f5f7;
      position: relative;
      padding: 32px 24px 8px 40px;
      margin-left: 35px;
  
      @media (min-width: 768px) {
        margin-left: 110px;
      }
  
      .education-icon {
        position: absolute;
        left: -1.3rem;
        width: 42px;
        text-align: center;
        font-size: 22px;
        background-color: #fff;
      }
  
      @media (min-width: 768px) {
        .education-date {
          position: absolute;
          left: -10rem;
          width: 7.5rem;
          text-align: right;
        }
      }
    }
    

  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f5f7;
  }
  
  .iframe-container {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
     /* Pour maintenir le rapport d'aspect 16:9 (facultatif) */
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Pour supprimer la bordure de l'iframe */
  }
  