
    <header>
        <app-navbar></app-navbar>
    </header>
    <body>
   <div class="w3-container w3-center">
    
    <div class="iframe-container" id="myiframe">
      <img src="../../assets/CV Lucas -2.pdf.png" alt="CV Lucas" style="width:70%;height:70%;">
     </div>
     <div style="padding-bottom: 50px;">
      <a href="../../assets/CVLB.pdf" download="CvBondonLucas">
        <button class="w3-button maincolorbackground2 w3-padding-large w3-large w3-margin-top maincolor1">Téléchargement CV</button></a>
    </div>
   </div>
   
 
</body>
<script>
  
 </script>