
<header>
  <app-navbar></app-navbar>
</header>
<body class="maincolorbackground2">
 <section id="" class="sectioncontainer maincolorbackground1">
  <div class="left text-left">
   <p class="title text maincolor2">Lucas Bondon</p>
   <p class="minititre text centertext">{{title}}</p>
  </div>
  <div class="right">
    <p class="text maincolor2 soustitre">
     <strong style="font-weight: 800;">Bienvenue</strong> sur mon site web </p>
  </div>
 </section >
    <section id="" class="sectioncontainer">
      <div class="left text-left">
       <p class="title text maincolor1">Qui suis-je ?</p>
       <p class="minititre text centertext">{{title}}</p>
      </div>
      <div class="right maincolor1">
        <p class="text maincolor1 ">
         <strong style="font-weight: 800; font-size: 30px;">Etudiant ingenieur</strong> <p style="font-size: 30px;">en informatique, je suis passioné par l'informatique depuis mon plus jeune âge</p> 
      </div>
     </section >
    

     <section class="maincolorbackground1">
      <h1 class="title maincolor2">Mes projets</h1>
   
<app-carousel></app-carousel>

     </section>
    
    
 
    <section id="moi" class="container sectioncontainer">
      <div class="left text-left">
       <p class="title">{{title}}</p>
      </div>
      <div class="right text-right">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
     </section >


</body>


