
<header>
  <app-navbar></app-navbar>
</header>
<body class="maincolorbackground2">
 <section id="" class="sectioncontainer maincolorbackground1">
  <div class="left text-left">
   <p class="title text maincolor2">Lucas Bondon</p>
   <p class="minititre text centertext maincolor2">{{title}}</p>
  </div>
  <div class="right">
    <p class="text maincolor2 soustitre">
     <strong style="font-weight: 800;">Bienvenue</strong> sur mon site web </p>
  </div>
 </section >
    <section id="" class="sectioncontainer">
      <div class="left text-left">
       <p class="title text maincolor1">Qui suis-je ?</p>
      </div>
      <div class="right maincolor1 soustitre" style="margin-bottom: 5%;">
       
         <strong class="minititre maincolor1"style="font-weight: 800;">Etudiant ingenieur</strong><p>en informatique, je suis passioné par l'informatique depuis mon plus jeune âge</p> 
      </div>
     </section >
    

     <section class="maincolorbackground1">
      <h1 class="title maincolor2">Mes projets</h1>
   
<app-carousel></app-carousel>

     </section>
    
    
 
    <section id="moi" class="container ">
     
       <p class=" maincolor1 footertitle">Contact</p>
        
      <div class="footer maincolor1">
        <div class="lil-containerv2 hover-3">
          <a href="https://www.linkedin.com/in/lucas-bondon/" class="customlink " >LinkedIn</a>
        </div>
        <div class="lil-containerv2 hover-3">
          <a href="https://github.com/lingetu?tab=repositories" class="customlink " >GitHub</a>
        </div>
        <div class="lil-containerv2 hover-3">
          <a href="" class="customlink " >Mail</a>
        </div>
        
    </div>
     </section >


</body>


