<header>
  <app-navbar></app-navbar>
</header>

<body class="maincolorbackground2">
  <section id="" class="sectioncontainer maincolorbackground1">
    <div class="left text-left">
      <p class="title text maincolor2">Lucas Bondon</p>
      <p class="minititre text centertext maincolor2">{{title}}</p>
    </div>
    <div class="right">
      <p class="text maincolor2 soustitre">
        <strong style="font-weight: 800;">Bienvenue</strong> sur mon site web
      </p>
    </div>
    <div class="containerimg"></div>
  </section>
  <section class="grid-containersection">

      <p class="title text maincolor1 grid-header">Qui suis-je ?</p>
    
  

      <strong class="minititre maincolor1 grid-textgras " style="font-weight: 800; ">Etudiant ingenieur à polytech marseille. Je suis
        en recherche active d'alternance en informatique je suis passioné par l'informatique depuis mon plus jeune âge.
        J'adore être confronté à des difficultés et devoir les surmonter et obtenir de sentiment de réussite.</strong>

    
    <p class="minititre maincolor1 grid-text " style="font-weight: 800;"> Je suis également quelqu'un de très sportif et compétitif, j'aime gagner et être le meilleur tout en sachant travailler en équipe. J'ai appris ces valeurs à travers la compétition, qu'elle soit à travers le sport ou les jeux vidéos.</p>

  </section>

  <section class="maincolorbackground1 " style="height: 98vh;
     width: 100%;">
    <p class="title text maincolor2">Les domaines de l'informatique qui m'intéresse</p>
    <app-carouselinteret></app-carouselinteret>

  </section>
  <section id="" class=" grid-containersection">
   
      <p class="title text maincolor1 grid-header">Pourquoi ce site web ?</p>
    
    
      <strong class="minititre maincolor1 grid-textgras" style="font-weight: 800;bottom: 20%;" ><br><br><br><br>Ce site web est pour moi un premier pas dans le monde professionel.</strong>
     
   
    <p class="minititre maincolor1 grid-text " style="padding-top: 100px;"> Il me sert d'interface entre les recruteurs et moi, tout comme le fait LinkedIn, mais de manière plus personel. De plus j'ai choisi de faire ce siteweb en utilisant pour la permière fois un FrameWork, Angular, cela m'as permis d'apprendre une nouvelle manière de developpement. Je suis conscient qu'il peut y avoir de nombreuses améliorations sur celui ci mais je suis tout de même fier d'avoir pu mettre en oeuvres mes compétences afin de pouvoir vous le présenter.</p>
  </section>

  <section class="maincolorbackground1">
    <h1 class="title maincolor2">Mes projets</h1>

    <app-carousel></app-carousel>

  </section>



  <section id="moi" class="container ">

    <p class=" maincolor1 footertitle">Contact</p>

    <div class="footer maincolor1">
      <div class="lil-containerv2 hover-3">
        <a href="https://www.linkedin.com/in/lucas-bondon/" class="customlink ">LinkedIn</a>
      </div>
      <div class="lil-containerv2 hover-3">
        <a href="https://github.com/lingetu?tab=repositories" class="customlink ">GitHub</a>
      </div>
      <div class="lil-containerv2 hover-3">
        <a href="" class="customlink ">Mail</a>
      </div>

    </div>
  </section>


</body>