<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
</head>

<body>
  
    <h1 class="title">{{ title }}</h1>
    <hr>
    <h1 class="title">Qui je suis </h1>
    <hr>
    <h1 class="title">Mes projets</h1>
    <ngb-carousel>
      <ng-template ngbSlide >
        <div class="carousel-captions">
          <app-card class="card" [card]="allCards[0]"></app-card>
      </div>
      </ng-template>
      <ng-template ngbSlide >
        <div class="carousel-captions">
          <app-card class="card" [card]="allCards[1]"></app-card>
      </div>
      </ng-template>
      <ng-template ngbSlide >
        <div class="carousel-captions">
          <app-card class="card" [card]="allCards[2]"></app-card>
      </div>
      </ng-template>
      <ng-template ngbSlide >
        <div class="carousel-captions">
          <app-card class="card" [card]="allCards[3]"></app-card>
      </div>
      </ng-template>
      <ng-template ngbSlide >
        <div class="carousel-captions">
          <app-card class="card" [card]="allCards[4]"></app-card>
      </div>
      </ng-template>
    </ngb-carousel>
    <div class="btn-wrapper">





      <button class="btn btn-menu" [class.active]="filter === 'all'" (click)="filter = 'all'">
        All
      </button>

      <button class="btn btn-menu" [class.active]="filter === 'active'" (click)="filter = 'active'">
        To Do
      </button>

      <button class="btn btn-menu" [class.active]="filter === 'done'" (click)="filter = 'done'">
        Done
      </button>
    </div>
    <hr>
    <h1 class="title">Me contacter</h1>

   




 


</body>

</html>