<div class="card">
    <p-carousel [value]="allCards
    " [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
               
                <div>
                    <ul  class="allCard">
                        <li *ngFor="let i of allCards" >
                          <app-card class="card" [card]="i"></app-card>
                        </li>
                      </ul>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>


