/* You can add global styles to this file, and also import other style files */
.slick-slider {
    width: 100%;
    margin: 0px;
    background: rgb(14, 13, 13);
  }
  
body .slick-prev, 
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}
.maincolor1{
  color: #f7f0cb;
  font-family: "Montserrat", sans-serif;
}
.maincolor2{
  color:#034f71;
  font-family: "Montserrat", sans-serif;
}
.maincolorbackground1{
  background-color: #f7f0cb;
}
.maincolorbackground2{
  background-color:#034f71;

}
.text
{
  font-family: "Montserrat", sans-serif;
}
.soustitre{

  font-family: "Montserrat", sans-serif;
  font-size: calc(1em + 1vw);
  font-size-adjust: none;
  font-weight: 600;
  z-index: 5;
  
}
.centertext{
  text-align: center;
}
.minititre{
  font-size: calc(1em + 1vw);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  
}

@media screen and (min-width: 1200px) {
  .minititre{
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    font-weight: 600;
    font-size: 25px;
  }
}

hr.blue-gradient{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(3, 79, 113,0), rgba(3, 79, 113,0.75), rgba(3, 79, 113,0));
}


body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background:#f7f0cb; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(3, 79, 113); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid whitesmoke; /* creates padding around scroll thumb */
}
.fullpage{
  display: flex;
  flex-direction: row;
  height: 98vh;
  width: 100%;
}
.title{
  margin-top: 20px;
   font-size: 2em;
   font-weight: bold;
   padding: 1rem;
   text-align: center;
 }

 .carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}