<body>


    <div class="wrap-error">
        <div class="d-flex align-items-center h-100">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 offset-sm-2 text-left text-black left">
                        <h1 class=""><span class="lil-container">4</span><span class="lil-container">0</span><span
                                class="lil-container">4</span></h1>
                        <h5 class="">Oups ! Contactez moi si c'est un lien mort !</h5>
                        <p class="mb-4"><a routerLink="" class="btn">Acceuil</a></p>



                    </div>
                </div>
            </div>
            <div class="footer text-white ">

                <a href="https://www.linkedin.com/in/lucas-bondon/" class="lil-containerv2 customlink hover-3">LinkedIn</a>
                <a href="https://github.com/lingetu?tab=repositories" class="lil-containerv2 customlink hover-3">GitHub</a>
                <a href="" class="lil-containerv2 customlink hover-3">Mail</a>
                



            </div>
        </div>

    </div>
</body>