

.card{
  align-items: center;
 height: 700px;
 background-color:#034f71;
  padding: 50px;
  align-items: center;
  width: 500px;
  
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  color: #f7f0cb;
  font-family: "Montserrat", sans-serif; 

}

.cardStateDone{
background-color: green;
display: block;
position: absolute;
height: 50px;
align-items: center;
margin-top: 600px;
border-radius: 0px 0px 10px 10px;
width: 100%;
}
.cardStateDoing{
background-color: orange;


display: block;
position: absolute;
height: 50px;
align-items: center;
margin-top: 600px;
border-radius: 0px 0px 10px 10px;
width: 100%;
}
.cardStateTodo{
background-color: grey;
display: block;
position: absolute;
height: 50px;
align-items: center;
margin-top: 600px;
border-radius: 0px 0px 10px 10px;
width: 100%;
}
.btn-footer
{
margin-left: 50px;
padding: 10px;
  margin-top: 85%;
}

.title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.text{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}

  
@media (max-width: 800px) {
  .card{
    align-items: center;
   height: 700px;
   background-color:#034f71;
    padding: 50px;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    color: #f7f0cb;
    font-family: "Montserrat", sans-serif; 
  
  }
}
  