

.card{
  align-items: center;
 height: 700px;
 background-color:#034f71;
  padding: 50px;
  align-items: center;
  width: 500px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  color: #f7f0cb;
  font-family: "Montserrat", sans-serif; 

}

.cardStateDone{
background-color: green;
position: relative;


width: 100%;
z-index: 5;

display: block;
}
.cardStateDoing{
background-color: orange;
position: relative;


width: 100%;
z-index: 5;

display: block;
}
.cardStateTodo{
background-color: grey;
position: relative;

width: 100%;
z-index: 5;

display: block;
}
.btn-footer
{
margin-left: 50px;
padding: 10px;
  margin-top: 85%;
}

  
  
  