

  
<mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{card.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{card.description}}
      </p>
    </mat-card-content>
   <mat-card-footer>
    
   </mat-card-footer>
   <div *ngIf="card.state==='true'" class="cardStateDone">
     
   </div>
   <div *ngIf="card.state==='doing'" class="cardStateDoing">
     
   </div>
   <div *ngIf="card.state==='false'" class="cardStateTodo">
    
   </div>
</mat-card>




    
  